<section class="make-order">
    <button class="close-btn"></button>
    <div class="products">
        <div class="lavyl-sm" ng-repeat="product in products">
            <img ng-src="{{ product.front }}" />
            <div class="centner">
                <h4 class="item-name">{{ product.name }}<span>{{ product.amount }}</span></h4>
                <div class="calc">
                    <span class="subtract" ng-click="subtract($index)">-</span>
                    <span class="number">{{ product.number }}</span>
                    <span class="add" ng-click="add($index)">+</span>
                </div>
                <span class="price">Цена: {{ product.price * product.number | currency:"UAH ₴ " }}</span>
            </div>
        </div>
    </div>
    <div class="form">
        <label for="total-amount" class="total-amount">
            Кол-во товаров: <input type="number" id="total-amount" value="{{ products[0].number + products[1].number + products[2].number + products[3].number }}" />
        </label>
        <input type="text" name="city" id="city" placeholder="Укажите свой город" />
        <label class="total-price" for="total-price">
            Общая стоимость:
            <input type="number" name="total-price" id="total-price" value="{{ products[1].name }}" readonly />
        </label>
        <input type="tel" name="phone-number" id="phone-number" placeholder="Введите номер телефона" required />
        <input type="email" name="email" id="email" placeholder="Введите свой e-mail" required />
        <label class="submit" for="submit">Оформить Заказ</label>
        <input type="submit" id="submit" />
    </div>
</section>