@import "templates/variables";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: fixed linear-gradient(to right bottom, $lightBlue 0%,$blue 20%,$darkBlue 100%) top no-repeat;

  &.active {
    header,
    main {
      transform: translateX(-40%);
    }

    .make-order {
      z-index: 10;
      background: {
        color: transparentize(black, 0.4);
      }

      .order-content {
        transform: translateX(0);
      }
    }

    .feedback {
      z-index: 10;
      background: {
        color: transparentize(black, 0.4);
      }

      form {
        transform: translateX(0);
      }
    }
  }

  .make-order,
  .order-content,
  .feedback-form,
  header,
  main {
    transition: {
      duration: $time;
      timing-function: linear;
    }
  }

  .make-order {
    position: fixed;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: {
      color: transparentize(black, 1);
    }
    z-index: -10;

    .order-content {
      grid-column: 2;
      grid-row: 1;
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: 8% 1fr;
      background: {
        color: white;
      }
      overflow: {
        x: hidden;
        y: hidden;
      }
      transform: translateX(100%);

      .close-btn {
        align-self: center;
        margin: 0 0 0 $line;
        position: relative;
        border: none;
        outline: none;
        grid-row: 1;
        grid-column: 1;
        width: $line * 5;
        height: $line * 5;
        background: {
          color: transparent;
        }
        cursor: pointer;

        &::before,
        &::after {
          position: absolute;
          top: $line * 2.5;
          left: 0;
          display: block;
          content: '';
          width: 100%;
          height: $line / 2;
          background: {
            color: $blue;
          }
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      .products {
        grid-row: 2;
        grid-column: 1;
        align-self: start;
        height: 95%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        > div {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;

          .flex-position {
            width: 100%;
            display: flex;
            justify-content: space-around;

            img {
              display: block;
              height: $line * 12;
            }

            .centner {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items: center;

              h4 {
                margin: 0;
                padding: 0;
                color: $blue;
                font: {
                  family: Arial;
                  weight: bold;
                  size: $line * 1.8;
                }
                text: {
                  align: center;
                  transform: uppercase;
                }
              }

              .calc {
                display: flex;
                justify-content: center;
                align-items: center;

                .subtract,
                .add {
                  padding: 0 $line;
                  color: $blue;
                  font: {
                    family: Arial, sans-serif;
                    weight: bold;
                    size: $line * 4;
                  }
                  cursor: pointer;
                }

                .number {
                  align-self: center;
                  width: $line * 4;
                  height: 15%;
                  color: white;
                  font: {
                    family: Arial, sans-serif;
                    weight: bold;
                    size: $line * 2.5;
                  }
                  background: {
                    color: $blue;
                  }
                  border: none;
                  outline: none;
                  text: {
                    align: center;
                  }
                }
              }
            }
          }

          .price {
            width: 100%;
            color: $black;
            font: {
              family: Arial, sans-serif;
              size: $line * 2;
              weight: bold;
            }
            text: {
              align: center;
            }
          }
        }
      }

      form {
        grid-row: 2;
        grid-column: 2;
        align-self: start;
        height: 95%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        > label,
        > input {
          @include orderLabel();
        }

        .total-amount {
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          #total-amount {
            width: 40%;
            @include orderInput();
          }
        }

        .total-price{
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          #total-price {
            width: 60%;
            @include orderInput();
          }
        }

        .submit {
          border: none;
          outline: none;
          width: 95%;
          height: $line * 5;
          background: {
            color: $green;
          }
          color: white;
          text: {
            align: center;
            transform: uppercase;
          }
          font: {
            family: Arial, sans-serif;
            weight: bold;
            size: $line * 1.4;
          }
          transition: {
            duration: $time / 2;
            timing-function: linear;
          }
          cursor: pointer;

          &:hover {
            box-shadow: $line $line 0 0 transparentize($green, 0.4);
            transform: translateY($line * -1) translateX($line * -1);
            background: {
              color: $green;
            }
          }
        }
      }
    }
  }

  .full-screen-image {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 400px;
    background-color: black;
    border: 1px solid red;
    z-index: 1000;

    img {
      border: 1px solid black;
      width: 100%;
    }
  }

  .feedback {
    position: fixed;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: {
      color: transparentize(black, 1);
    }
    z-index: -10;

    form {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      justify-content: space-around;
      align-content: center;
      flex-wrap: wrap;
      background: {
        color: white;
      }
      overflow: {
        x: hidden;
        y: hidden;
      }
      transition: {
        duration: $time;
        timing-function: linear;
      }
      transform: translateX(-100%);

      * {
        margin: 0 0 $line * 1.5 0;
      }

      input {
        @include orderLabel(90%, $line * 3);
      }

      .message {
        width: 90%;
        height: 15%;
        padding: $line 0 0 $line;
        resize: none;
        color: $blue;
        font: {
          family: Arial, sans-serif;
          size: $line * 1.6;
        }
        border: {
          width: 3px;
          style: solid;
          color: $blue;
        }

        &::placeholder {
          color: $blue;
        }
      }

      #fd-reset {
        @include button(48%, lighten(red, 0.4), white);
        padding: $line 0;
      }

      #fd-submit {
        @include button(48%, $green, white);
        padding: $line 0;
      }
    }
  }

  header {
    position: fixed;
    top: 0;
    height: $line * 7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: {
      color: white;
    }
    box-shadow: 0 $line / 5 $line * 5 0 black;

    #feedback,
    .caption,
    #order {
      justify-self: center;
    }

    #feedback {
      grid-column: 1;
      @include button;
    }

    .caption {
      grid-column: 2;
      margin: 0;
      padding: 0;
      color: $black;
      font: {
        family: Arial, sans-serif;
        weight: bold;
        size: $line * 4;
      }
      text: {
        align: center;
        transform: uppercase;
      }

      span {
        color: $blue;
      }
    }

    #order {
      grid-column: 3;
      @include button;
    }
  }

  main {
    padding: $line * 7 0 0 0;
    display: grid;
    grid-template-rows: 100% 100%;
    grid-template-columns: 100%;
    width: 100%;

    .item-caption {
      display: grid;
      grid-template-columns: 30% 40% 30%;
    }

    .first-item {
      grid-row: 1;
      grid-column: 1;
      display: grid;
      align-content: start;
      grid-template-rows: 10% 100%;
      grid-template-columns: 17% 1fr 15%;

      .item-caption {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-row: 1;
        grid-column: span 3;
        align-items: center;

        h2 {
          justify-self: center;
          grid-column: 1;
          padding: 0 $line * 4;
          font: {
            size: $line * 3.5;
            family: Arial, sans-serif;
            weight: bold;
          }
          text: {
            transform: uppercase;
          }
          color: white;
        }

        .amount {
          padding: 0 $line * 5;
          grid-column: 3;
          display: flex;
          justify-content: space-evenly;

          .first-small-item,
          .first-big-item {
            border: none;
            outline: none;
            padding: $line $line * 2;
            background: {
              color: white;
            }
            color: $black;
            font: {
              size: $line * 1.8;
              weight: bold;
              family: Arial, sans-serif;
            }
            text: {
              align: center;
              transform: uppercase;
            }
            cursor: pointer;transition: {
            duration: $time;
            timing-function: linear;
          }


            &.current {
              color: white;
              background: {
                color: $black;
              }
              box-shadow: $line / 2 $line / 2 0 0 transparentize($black, 0.4);
            }

            &:hover:not(.current) {
              box-shadow: $line / 2 $line / 2 0 0 transparentize(white, 0.4);
              transform: translateY($line / -2) translateX($line / -2);
            }
          }
        }
      }

      .small-item-images,
      .big-item-images {
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        img {
          width: 100%;
        }
      }

      .small-item-add,
      .big-item-add {
        grid-row: 2;
        grid-column: 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h4,
        .small-item-price,
        .big-item-price {
          padding: 0;
          margin: $line * 2 0;
          color: white;
          font: {
            family: Arial, sans-serif;
            weight: normal;
            size: $line * 2.1;
          }
        }

        .order {
          @include button($line * 18, white, $black);
        }
      }

      .first-item-desc {
        grid-column: 2;
        grid-row: 2;
        padding: 0 $line * 5 0 0;

        h3 {
          margin: 0;
          padding: $line 0 $line $line;
          font: {
            family: Arial, sans-serif;
            size: $line * 2.6;
            weight: bold;
          }
          color: white;
          cursor: pointer;
          transition: {
            duration: $time / 2;
            timing-function: linear;
          }

          &:hover {
            background: {
              color: white;
            }
            color: $blue;
          }
        }

        p {
          padding: 0 $line * 3;
          font: {
            family: Arial, sans-serif;
            size: $line * 1.8;
          }
          color: white;
        }

        .paragraph-instruction,
        .paragraph-consistency {
          display: none;
        }
      }
    }

    .second-item {
      grid-row: 2;
      grid-column: 1;
      display: grid;
      align-content: end;
      grid-template-rows: min-content 100%;
      grid-template-columns: 17% 1fr 15%;

      .item-caption {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-row: 1;
        grid-column: span 3;
        align-items: center;

        h2 {
          justify-self: center;
          grid-column: 1;
          padding: 0 $line * 4;
          font: {
            size: $line * 3.5;
            family: Arial, sans-serif;
            weight: bold;
          }
          text: {
            transform: uppercase;
          }
          color: white;
        }

        .amount {
          padding: 0 $line * 5;
          grid-column: 3;
          display: flex;
          justify-content: space-evenly;

          .second-small-item,
          .second-big-item {
            border: none;
            outline: none;
            padding: $line $line * 2;
            background: {
              color: white;
            }
            color: $black;
            font: {
              size: $line * 1.8;
              weight: bold;
              family: Arial, sans-serif;
            }
            text: {
              align: center;
              transform: uppercase;
            }
            cursor: pointer;transition: {
            duration: $time;
            timing-function: linear;
          }


            &.current {
              color: white;
              background: {
                color: $black;
              }
              box-shadow: $line / 2 $line / 2 0 0 transparentize($black, 0.4);
            }

            &:hover:not(.current) {
              box-shadow: $line / 2 $line / 2 0 0 transparentize(white, 0.4);
              transform: translateY($line / -2) translateX($line / -2);
            }
          }
        }
      }

      .small-item-images,
      .big-item-images {
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        img {
          width: 100%;
        }
      }

      .small-item-add,
      .big-item-add {
        grid-row: 2;
        grid-column: 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h4,
        .small-item-price,
        .big-item-price {
          padding: 0;
          margin: $line * 2 0;
          color: white;
          font: {
            family: Arial, sans-serif;
            weight: normal;
            size: $line * 2.1;
          }
        }

        .order {
          @include button($black, white);
        }
      }

      .second-item-desc {
        grid-column: 2;
        grid-row: 2;
        padding: 0 $line * 5 0 0;

        h3 {
          margin: 0;
          padding: $line 0 $line $line;
          font: {
            family: Arial, sans-serif;
            size: $line * 2.6;
            weight: bold;
          }
          color: white;
          cursor: pointer;
          transition: {
            duration: $time / 2;
            timing-function: linear;
          }

          &:hover {
            background: {
              color: white;
            }
            color: $blue;
          }
        }

        p {
          padding: 0 $line * 3;
          font: {
            family: Arial, sans-serif;
            size: $line * 1.8;
          }
          color: white;
        }

        .paragraph-instruction,
        .paragraph-consistency {
          display: none;
        }
      }
    }
  }
}