header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: $line 0;
  background: {
    color: $bg;
  }
  border: {
    bottom: $line / 2 solid $lightblue;
  }
  font: {
    family: Arial, sans-serif;
    size: $line * 2;
  }
  text: {
    align: center;
  }
  z-index: 100;

  .header-caption {
    @include caption;
  }

  .confirm-order {
    position: absolute;
    right: 2%;
    @include button;
  }
}