header {
  border: {
    bottom: $line / 5 solid $lightgrey;
  }
  padding: {
    bottom: 0;
  }

  .logo {
    color: $grey;
    text: {
      align: center;
    }

    span {
      &:first-child {
        color: $lightblue;
      }
    }
  }

  .languages {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      padding: $line / 2;
      font: {
        weight: bold;
      }
      margin: 0 $line / 5 0 0;

      transition: {
        duration: $time;
        timing-function: ease-out;
      }

      cursor: pointer;

      &:hover {
        color: $green;
        box-shadow: 0 $line / 2 0 0 $green;
      }
    }
  }
}