header {
  min-height: $line * 10;
  border: {
    bottom: $line / 5 solid red;
  }

  .logo {
    color: $grey;
    text: {
      align: center;
    }

    span {
      &:first-child {
        color: $lightblue;
      }
    }
  }

  .languages {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0 auto;
    width: 30%;

    li {
      padding: $line / 2;
      font: {
        weight: bold;
      }
    }
  }
}