main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: $line * 20 0 0 0;

  .content-item {
    width: 60%;
    margin: 0 0 $line * 10 0;
    background: {
      color: $bg;
    }
    overflow: {
      x: hidden;
      y: hidden;
    }
    box-shadow: 0 0 $line / 5 $line / 10 $grey;

    .item-caption {
      padding: $line * 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: {
        bottom: $line / 2 solid $grey;
      }

      h2 {
        @include caption;
      }

      small {
        display: flex;
        justify-content: space-between;
        color: $black;
        font: {
          size: $line * 2;
          weight: bold;
          family: Arial, sans-serif;
        }

        #small-item,
        #big-item,
        #small-item-sens,
        #big-item-sens {
          cursor: pointer;
          padding: $line / 2;
          transition: {
            duration: $time / 2;
            timing-function: linear;
          }

          &.current {
            color: $bg;
            background: {
              color: $lightblue;
            }
          }

          &:hover {
            color: $bg;
            background: {
              color: darken($lightblue, 10);
            }
          }
        }
      }
    }

    .small-item,
    .big-item,
    .small-item-sens,
    .big-item-sens {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: $line * 2 0;

      .item-photo {
        width: 30%;
      }

      .item-description {
        width: 30%;
        color: $grey;
        font: {
          family: Arial, sans-serif;
          size: $line * 1.8;
        }
        text-align: left;
      }

      .column {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .item-price {
          color: black;
          font: {
            family: Arial, sans-serif;
            weight: bold;
            size: $line * 2;
          }
        }

        .confirm-order {
          @include button;
        }
      }
    }
  }
}