$line: 10px;
$time: 0.3s;

$lightBlue: #aad5ff;
$blue: #7a90ff;
$darkBlue: #578dff;
$black: #505050;
$green: #30b930;

@mixin button($color: $blue, $textColor: white) {
  border: none;
  outline: none;
  background: {
    color: $color;
  }
  color: $textColor;
  width: $line * 17;
  padding: $line * 1.5 0;
  font: {
    size: $line * 1.4;
    weight: bold;
    family: Arial, sans-serif;
  }
  text: {
    align: center;
    transform: uppercase;
  }
  cursor: pointer;
  transition: {
    duration: $time / 2;
    timing-function: linear;
  }

  &:hover {
    box-shadow: $line / 2 $line / 2 0 0 transparentize($color, 0.4);
    transform: translateY($line / -2) translateX($line / -2);
    background: {
      color: darken($color, 5);
    }
  }
}

@mixin orderLabel() {
  height: $line * 4;
  width: 90%;
  background: {
    color: darken($blue, 5);
  }
  color: white;
  text: {
    align: center;
  }
  border: {
    width: 5px;
    style: solid;
    color: darken($blue, 5);
  }
  outline: none;
  font: {
    family: Arial, sans-serif;
    size: $line * 1.5;
    weight: bold;
  }
  transition: {
    duration: $time / 2;
    timing-function: linear;
  }

  &:focus {
    box-shadow: $line $line 0 0 transparentize($darkBlue, 0.4);
    transform: translateY($line * -1) translateX($line * -1);
    background: {
      color: white;
    }
    padding: 0 0 0 $line;
    color: darken($blue, 5);
    text: {
      align: left;
    }
    font: {
      size: $line * 1.8;
    }
  }

  &::placeholder {
    color: white;
  }
}

@mixin orderInput($fontSize: $line * 2) {
  border: none;
  outline: none;
  color: white;
  background: {
    color: darken($blue, 5);
  }
  text: {
    align: center;
  }
  font: {
    family: Arial, sans-serif;
    size: $fontSize;
    weight: bold;
  }
}