<!DOCTYPE html>
<html lang="en" ng-app="LavylAuricumApp">
<head>
    <meta charset="UTF-8">
    <title>Lavyl Auricum</title>
    <link href="styles/style.css" rel="stylesheet">
    <script src="scripts/js/angular.min.js"></script>
    <script src="scripts/js/jquery-3.2.1.min.js"></script>
    <!--jQuery-->
    <script src="scripts/js/script.js"></script>
    <!--Modules-->
    <script src="scripts/js/app.js"></script>
    <!--Controllers-->
    <script src="scripts/js/controllers/mainController.js"></script>
    <!--Directives-->
    <script src="scripts/js/directives/feedBack.js"></script>
</head>
<body ng-controller="MainController">
<div class="make-order">
    <div class="order-bg"></div>
    <section class="order-content">
        <button class="close-btn"></button>
        <div class="products">
            <div ng-repeat="product in products">
                <div class="flex-position">
                    <img ng-src="{{ product.front }}" />
                    <div class="centner">
                        <h4 class="item-name">{{ product.name }} <span>{{ product.amount }}</span></h4>
                        <div class="calc">
                            <span class="subtract" ng-click="subtract($index)">-</span>
                            <span class="number">{{ product.amountNumber }}</span>
                            <span class="add" ng-click="add($index)">+</span>
                        </div>
                    </div>
                </div>
                <span class="price">Цена: {{ product.price * product.amountNumber | currency:"₴ " }}</span>
            </div>
        </div>
        <form method="post" action="">
            <label for="total-amount" class="total-amount">
                Кол-во товаров: <input id="total-amount" value="{{ getTotalAmount() }}" readonly />
            </label>
            <label class="total-price" for="total-price">
                Cтоимость:
                <input name="total-price" id="total-price"
                       value="{{ getTotalSum() | currency:'₴ ' }}" readonly />
            </label>
            <input name="city" id="city" placeholder="Укажите ваш город" required />
            <input name="address" id="address" placeholder="Адрес и номер отделения" required />
            <input type="tel" name="phone-number" id="phone-number" placeholder="Введите номер телефона" required />
            <input type="email" name="email" id="email" placeholder="Введите свой e-mail" required />
            <button class="submit" type="submit">Оформить Заказ</button>
        </form>
    </section>
</div>
<div class="full-screen-image">
    <img src="" />
</div>
<header>
    <button id="feedback">Обратный Звонок</button>
    <h1 class="caption">Lavyl <span>Auricum</span></h1>
    <button id="order">Оформить Заказ</button>
</header>
<main>
    <section class="first-item">
        <div class="item-caption">
            <h2>{{ products[0].name }}</h2>
            <div class="amount">
                <button class="first-small-item">{{ products[0].amount }}</button>
                <button class="first-big-item">{{ products[1].amount }}</button>
            </div>
        </div>
        <div class="small-item-images">
                <img ng-src="{{ products[0].front }}" />
                <img ng-src="{{ products[0].back }}" />
            </div>
        <div class="small-item-add">
            <h4>Артикуль: A-050-02</h4>
            <h4>CPNP номер: 1461148</h4>
            <span class="small-item-price">Цена: {{ products[0].price | currency:" ₴ " }}</span>
            <button class="order">Оформить Заказ</button>
        </div>
        <div class="first-item-desc">
            <h3 class="desc">Описание</h3>
            <div class="paragraph-desc">
                <p>LavylAurikum — много функциональный препарат, широкого спектра действия.</p>
                <p>Жизнь полна неожиданностей — травмы, ожоги, заболевания – это тоже часть нашей жизни и как правило
                    не очень приятной. Как же хорошо иметь под рукой препарат, который может в короткие сроки избавить
                    от любой проблемы, даже хронического характера.</p>
                <p>Первую и очень эффективную помощь Вам окажет Lavyl Auriсum. Нанесение этого препарата на кожу
                    поможет остановить кровотечение, окажет сильное и быстрое обезболивающее и ранозаживляющее действие,
                    снимет любые воспаление. Изготовленый из натурального сырья, из экологически чистых районах планеты,
                    что и является гарантией его уникального действия.</p>
                <p>В любом случае этот препарат заменит в Вашей аптеке несколько различных средств, решит Ваши проблемы
                    в сложных и неожиданных ситуациях, будет полезен Вам, Вашему ребенку и даже Вашим домашним питомцам.</p>
                <p>Вы обожглись или порезались, у вас воспалился укус насекомого? Первую и очень эффективную помощь вам
                    окажет LavylAuriсum. Нанесение этого спрея на кожу поможет остановить кровотечение, окажет выраженное
                    обезболивающее и ранозаживляющее действие, снимет воспаление.Да что же это за чудо препарат, спросите
                    вы. Выполненный из натурального сырья, добытого в самых экологически чистых районах планеты,
                    LAVYL AURICUM приготовлен с применением современных нанотехнологий, что и является гарантией его уникального действия.</p>
            </div>
            <h3 class="instruction">Инструкция применения</h3>
            <p class="paragraph-instruction">Требуемое количество наносить равномерно на очищенную, сухую кожу, втереть и/или дать впитаться.
                В острых случаях используется в небольшом количестве, но часто. При хронических проблемах — не
                более пяти раз в день. Избегать попадания в глаза! Хранить в сухом, прохладном месте, желательно
                в темном. При использовании продукции важно помнить, что она очень экономична и применяется малыми
                дозами. Перед употреблением обязательно встряхивать все жидкие формы. Не допускать попадания в руки детей!</p>
            <h3 class="consistency">Состав</h3>
            <p class="paragraph-consistency">Aqua, Alcohol, Citrus Medica Vulgaris Peel Oil, Ribes Rubrum Fruit Extract, Tocopheryl Acetate,
                Lecithin, Retinyl Palmitate, Eucalyptus Globulus Leaf Oil, Citrus Aurantium Dulcis Oil, Melissa
                Officinalis Leaf Oil, Cananga Odorata Leaf Oil, Melaleuca Alternifolia Leaf Oil, Rosmarinus
                Officinalis Leaf Oil, Litsea Cubeba Fruit Oil.</p>
        </div>
        <div class="big-item-images">
                <img ng-src="{{ products[1].front }}" />
                <img ng-src="{{ products[1].back }}" />
            </div>
        <div class="big-item-add">
            <h4>Артикуль: LA-150-02</h4>
            <h4>CPNP номер: 1461148</h4>
            <span class="big-item-price">Цена: {{ products[1].price | currency:"₴ " }}</span>
            <button class="order">Оформить Заказ</button>
        </div>
    </section>
    <section class="second-item">
        <div class="item-caption">
            <h2>{{ products[2].name }}</h2>
            <div class="amount">
                <button class="second-small-item">{{ products[2].amount }}</button>
                <button class="second-big-item">{{ products[3].amount }}</button>
            </div>
        </div>
        <div class="small-item-images">
            <img ng-src="{{ products[2].front }}" />
            <img ng-src="{{ products[2].back }}" />
        </div>
        <div class="small-item-add">
            <h4>Артикуль: LAS-050-02</h4>
            <h4>CPNP номер: 1461117</h4>
            <span class="small-item-price">Цена: {{ products[2].price | currency:" ₴ " }}</span>
            <button class="order">Оформить Заказ</button>
        </div>
        <div class="second-item-desc">
            <h3 class="desc">Описание</h3>
            <div class="paragraph-desc">
                <p>Lavyl Aurikum Sensetive — регенерирующий кожу, снимающий воспаления, восстанавливающий
                    правильную работу клеток.</p>
                <p>Жизнь полна неожиданностей. И не всегда приятных. К сожалению, травмы ожоги, заболевания – это
                    тоже часть нашей жизни. И как хорошо иметь под рукой препарат, который поможет нам почти в любой ситуации.</p>
                <p>Вы обожглись или порезались, у вас воспалился укус насекомого? Первую и очень эффективную помощь
                    вам окажет Lavyl Auriсum. Нанесение этого продукта на нужное место поможет остановить
                    кровотечение, окажет выраженное обезболивающее и ранозаживляющее действие, снимет воспаление.
                    Да что же это за чудо препарат, спросите вы. Выполненный из натурального сырья, добытого в самых
                    экологически чистых районах планеты, LAVYL AURICUM приготовлен с применением современных
                    нанотехнологий, что и является гарантией его уникального действия.</p>
                <p>Препарат выпускается в двух вариантах: а именно LAVYL AURICUM на спиртовой основе и
                    LAVYL AURICUM SENSITIVE без спиртовой составляющей. Первый вариант предпочтителен при решении
                    острых проблем, а второй при лечении детей, при нанесении на лицо и слизистую, при
                    продолжительном приеме. Купить Auricum sensetive можно в нашем магазине 0-24 + быстрая доставка.</p>
                <p>В любом случае этот препарат заменит в Вашей аптеке несколько различных средств, решит
                    Ваши проблемы в сложных и неожиданных ситуациях, будет полезен Вам, Вашему ребенку и даже Вашим домашним питомцам.</p>
            </div>
            <h3 class="instruction">Инструкция применения</h3>
            <p class="paragraph-instruction">Требуемое количество наносить равномерно на очищенную, сухую кожу,
                втереть и/или дать впитаться. В острых случаях используется в небольшом количестве, но часто.
                При хронических проблемах — не более пяти раз в день. Избегать попадания в глаза! Хранить в сухом,
                прохладном месте, желательно в темном. При использовании продукции важно помнить, что она очень
                экономична и применяется малыми дозами. Перед употреблением обязательно встряхивать все жидкие
                формы. Не допускать попадания в руки детей!</p>
            <h3 class="consistency">Состав</h3>
            <p class="paragraph-consistency">Aqua, Citrus Medica Vulgaris Peel Oil, Ribes Rubrum Fruit Extract,
                Tocopheryl Acetate, Lecithin, Retinyl Palmitate, Eucalyptus Globulus Leaf Oil, Citrus Aurantium
                Dulcis Oil, Melissa Officinalis Leaf Oil, Cananga Odorata Leaf Oil, Melaleuca Alternifolia Leaf Oil,
                Rosmarinus Officinalis Leaf Oil, Litsea Cubeba Fruit Oil.</p>
        </div>
        <div class="big-item-images">
            <img ng-src="{{ products[3].front }}" />
            <img ng-src="{{ products[3].back }}" />
        </div>
        <div class="big-item-add">
            <h4>Артикуль: LAS-150-02</h4>
            <h4>CPNP номер: 1461117</h4>
            <span class="small-item-price">Цена: {{ products[3].price | currency:" ₴ " }}</span>
            <button class="order">Оформить Заказ</button>
        </div>
    </section>
</main>
</body>
</html>